<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
    <p>Название: {{ event_info["Название"] }}</p>
    <p>Местоположение: {{ event_info["Местоположение"] }}</p>
    <p>Время: {{ event_info["Время"] }}</p>
    <p>Цена: {{ event_info["Цена"] }}</p>
    <p>Дата: {{ event_info["Цена"] }}</p>
    <p>фото: </p>
    <img width="150" src="https://ticketon.kz/media/upload/46322u55201_thumbnail_image-03-01-24-01-24456654564564.jpg"/>
</body>
</html>
