<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список мероприятий</title>
</head>
<body>
    <div>
        <h1>Популярные</h1>
        <p>Название мероприятия: {{ event_info["Название"] }}</p>
        <p>Дата: {{ event_info["Дата"] }}</p>
        <p>Место проведения: {{ event_info['Местоположение'] }}</p>
        <p><img src="" width="100"></p>
    </div>
<hr>
   <div>
        <h1>Рекомендуемые</h1>
        <p>Название мероприятия: {{ event_info["Название"] }}</p>
        <p>Дата: {{ event_info["Дата"] }}</p>
        <p>Место проведения: {{ event_info['Местоположение'] }}</p>
        <p><img src="" width="100"></p>
   </div>
</body>
</html>
