.home-page-Lim {
    align-items: flex-start;
    background-color: #070606;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .auto-group-rxsm-n4y {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.8rem 9.1rem 0rem 0rem;
  
      .auto-group-owp5-4oB {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 19.2661rem;
        margin-bottom: 22.6339rem;
  
        .auto-group-jmo7-nz5 {
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.1rem;
          position: relative;
          width: 21rem;
  
          .screenshot2023-03-03at1246-2-i73 {
            height: 0.5rem;
            left: 9.7rem;
            object-fit: cover;
            position: absolute;
            top: 13.7rem;
            vertical-align: top;
            width: 1.2rem;
          }
          .logo2-removebg-preview-1-CY1 {
            border-radius: 4.3rem;
            height: 19.2661rem;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 21rem;
          }
          .mangalit-7us {
            font-family: MedievalSharp, 'Source Sans Pro';
            font-size: 2.2rem;
            font-weight: 500;
            height: 2.8rem;
            left: 6.7rem;
            line-height: 1.2575;
            position: absolute;
            text-align: center;
            top: 13.1rem;
            white-space: nowrap;
            width: 8.5rem;
          }
          .screenshot2023-03-03at1246-1-PcV {
            height: 0.5rem;
            left: 6.6rem;
            object-fit: cover;
            position: absolute;
            top: 13.4rem;
            vertical-align: top;
            width: 1.2rem;
          }
          .screenshot2023-03-03at1246-3-tZF {
            height: 0.5rem;
            left: 14.1rem;
            object-fit: cover;
            position: absolute;
            top: 13.1rem;
            vertical-align: top;
            width: 1.2rem;
          }
          .screenshot2023-03-03at1246-4-1tm {
            height: 0.5rem;
            left: 14.4rem;
            object-fit: cover;
            position: absolute;
            top: 14.5rem;
            vertical-align: top;
            width: 1.2rem;
          }
          .screenshot2023-03-03at1250-1-kLZ {
            height: 1.2rem;
            left: 9.8rem;
            object-fit: cover;
            position: absolute;
            top: 13.6rem;
            vertical-align: top;
            width: 1.8rem;
          }
          .screenshot2023-03-03at1250-1-svy {
            height: 1.2rem;
            left: 12.1rem;
            object-fit: cover;
            position: absolute;
            top: 13.7rem;
            vertical-align: top;
            width: 1.8rem;
          }
        }
        .discover-PeR {
          flex-shrink: 0;
          font-family: MedievalSharp, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 500;
          line-height: 1.2575;
          margin: 0rem 7.9rem 3.166rem 0rem;
          white-space: nowrap;
        }
        .sign-up-Ufs {
          flex-shrink: 0;
          font-family: MedievalSharp, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 500;
          line-height: 1.2575;
          margin-bottom: 3.1661rem;
          white-space: nowrap;
        }
      }
      .frame-cXB {
        flex-shrink: 0;
        margin-right: 3.2rem;
        overflow: hidden;
        position: relative;
  
        .vector-NWM {
          height: 66.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 67.6rem;
        }
      }
    }
    .auto-group-7odk-W6m {
      flex-shrink: 0;
      width: 118.1rem;
  
      .auto-group-bikh-rRX {
        height: 74.3rem;
        margin-bottom: 1.9rem;
        position: relative;
        width: 100%;
  
        .ellipse-2-PwF {
          height: 63.5rem;
          left: 45.9rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 72.2rem;
        }
        .about-8P3 {
          font-family: MedievalSharp, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 500;
          height: 6.1rem;
          left: 0;
          line-height: 1.2575;
          position: absolute;
          top: 6.8rem;
          white-space: nowrap;
          width: 12.2rem;
        }
        .mangalit-literature-in-a-new-light-SuX {
          font-family: MedievalSharp, 'Source Sans Pro';
          font-size: 8rem;
          font-weight: 500;
          height: 20.2rem;
          left: 5.6rem;
          line-height: 1.2575;
          position: absolute;
          top: 32.6rem;
          width: 68.7rem;
        }
        .faq-YxZ {
          font-family: MedievalSharp, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 500;
          height: 6.1rem;
          left: 20.6rem;
          line-height: 1.2575;
          position: absolute;
          top: 6.8rem;
          white-space: nowrap;
          width: 8rem;
        }
      }
      .transforming-literature-into-visually-stunning-manga-format-experience-beloved-classics-and-new-titles-in-a-new-captivating-way-welcome-to-mangalit-Gdf {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 0rem 0rem 7.5rem 5.6rem;
        max-width: 97.2rem;
      }
      .frame-iEm {
        align-items: center;
        background-image: url('/api/try-prod-us-east-2-first-cluster/projects/6WxEvk1qqVXjxP7hmLr88R/files/vector/c01296866849a596ed148bbaaf2bcce32a236244b1b2e68d61b3a017e4925a7a597b18a2868b4cbe6452294e33f7abd340a0d438ab514533bc4763fbe1622412?hash=f909914e3c845266251a827820d845c78d70558c5bf6bae4d670cbf6e76f6b2d');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        display: flex;
        margin: 0rem 85rem 0rem 4.7rem;
        overflow: hidden;
        padding: 2.1rem 4.8rem 2.075rem 3.579rem;
        position: relative;
        width: calc(100% - 89.7rem);
  
        .frame-oX7 {
          flex-shrink: 0;
          height: 3.85rem;
          margin: 0.075rem 1.179rem 0rem 0rem;
          object-fit: contain;
          position: relative;
          vertical-align: top;
          width: 3.9417rem;
        }
        .get-started-Xi1 {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 2.6rem;
          font-weight: 500;
          line-height: 1.5;
          margin-bottom: 0.025rem;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }
  